<style>
  .toolbar{
    display: flex;
    width: 100%;
    background-color: blue;
    align-items: center;
    justify-content: center;
  }

  .toolbar h3{
    color: white;
  }

  .description {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 20px;
    min-height: fit-content;
    justify-self: center;
    align-items: center;
  }

  .description *{
    color: white;
  }

  a{
    color: white;
  }

  a:hover{
    color: red;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h3>Hello to four has four letters</h3>
</div>

<div class="description">
  <h4>This is a project based on <a href="https://www.youtube.com/watch?v=LYKn0yUTIU4">Matt Parker's YouTube video</a> </h4>
  <br />
  <h5>Enter a positive integer in the input box and click the button to get the chain</h5>
</div>

<div class="content" role="main">
  <app-user-input></app-user-input>
</div>