
#graph{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.node{
    display: flex;
    border: 5px solid grey;
    border-radius: 50px;
    min-width: 200px;
    max-width: 200px;
    padding: 40px 20px;
    margin: 20px;
    justify-content: center;
    align-content: center;
}

.node:hover{
    background-color: red;
    color: white;
}


#inputField{
    display: flex;
    justify-content: center;
    align-content: center;
}
/* #userInput{
    justify-self: center;
    align-self: center; */
/* } */